<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>      
      <%= title %>        
    </title>
    <link rel="icon" href="/public/images/favicon.png" type="image/x-icon" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
    </style>
  </head>
  <body style="font-family: Montserrat">
    <table
      style="
        background-image: linear-gradient( 113.3deg,  rgba(217,9,27,1) 6.9%, rgba(22,68,150,1) 75% );
        max-width: 600px;        
        min-width: 300px;    
        min-height: 350px;            
        margin: 0 auto;
        border-radius: 0.4rem;        
        padding: 2rem;
      "
    >
      <tr>
        <td>
          <table style="width: 80%; margin: 0 auto;" >
            <tr>
              <td 
                style="text-align: center"                
              >
                <% if(register){ %>
                  <p
                    style="
                      color: white;    
                      font-size: 1.2rem;
                      margin-bottom: 2rem;
                      text-align: center;
                      font-weight: 400;
                    "
                  >
                    Hey  <%= username %>, <br/>
                    Your default password is: 
                    <b><%= password %></b>
                  </p>
                  <p
                    style="
                      color: whitesmoke;    
                      font-size: 1.2rem;
                      margin-bottom: 2rem;
                    "
                  >
                    Please change your password after login or by clicking on the button Below.
                  </p>
                  <% } else{ %>  
                    <p
                      style="
                        color: whitesmoke;    
                        font-size: 1.2rem;
                        margin-bottom: 2rem;
                      "
                    >
                      Hey <%= username %>,<br/>
                      You have requested to reset your password. Please click on the button below to reset your password.
                    </p>
                <% } %>   
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr style="text-align: center">
        <td>
          <a
            style="
              background-image: linear-gradient( 135deg, #FD6585 10%, #0D25B9 100%);
              font-size: 1rem;
              text-transform: uppercase;
              color: white;              
              margin: 0px;
              padding: 1rem 1.5rem;
              text-decoration: none;
              border-radius: 0.4rem;
              margin-top: 1rem;
            "
            href="<%= link %>"
          >
            Reset Password
          </a>
        </td>
      </tr>
      <tr height="30px"></tr>
    </table>
  </body>
</html>